.coverMain .menu{
    width: 100%;
    height: 100%;
}
.coverMain .demographic{
    height: 300px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    padding-left: 0;
    padding-right: 0;
}
.coverMain .infomation{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding-top: 10px;
    height: 50px;
}
.coverMain .type{
    border-bottom: 2px solid black;
    padding-top: 10px;
    height: 50px;
}
.coverMain .ant-table-content{
    background-color: white;
}
.coverMain .ant-table-cell{
    background-color: white !important;
}
.coverMain .table-my-list{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}
.coverMain .group-by{
    color: #9B9A9A;
    font-size: 20px;
    font-family: Volkhov;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
}
.coverMain .value-type .button-edit{
    background-color: transparent;
    color: blue;
    border: none;
}
 .coverMain .button-delete{
    background-color: transparent !important;
    color: red;
    border: none;
}

 .coverMain .button-edit:hover,.button-delete:hover{
    font-weight: bold;
}
 .coverMain .value-type{
    text-align: right;
}
.coverMain .chart{
    height: 100%;
}
.coverMain .popup-add-new{
    background-color: white !important;
    border-radius: 10px;
}
.coverMain .ant-modal-content{
    background-color: white !important;
    border-radius: 10px;
    box-shadow: none !important;
    height: 175px;
}
.coverMain .ant-modal-close{
    padding: 0 !important;
    margin: 0 !important;
}
.coverMain .ant-modal-title{
    padding-top: 15px;
    padding-left: 15px;
}
.coverMain .ant-modal-footer{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.coverMain .menuList{
    height: 120vh;
}
.coverMain .new-add-list{
    text-align: center;
    opacity: 30%;
    font-size: 55px;
    padding: auto;
    padding-top: 40vh;
    font-weight: bold;
}
.coverMain .ant-modal-content{
    padding: 0 !important;
}
.coverMain .ant-form-item{
    padding-bottom: 0;
    margin-bottom: 0;
}