.admin-dashboard-layout {
    width: 100%;
    height: 100%;
    padding: 25px 20px;
    position: relative;
    overflow: hidden;
}

.admin-dashboard-title {
    padding: 0 20px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.admin-dashboard-title p {
    font-size: 20px;
    font-weight: 600;
}

.dashboard-filter {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-filter p {
    color: #ccc;
    font-size: 15px;
    font-weight: 400;
}

.dashboard-sort-by {
    width: 73%;
    height: 100%;
    border: #ccc 1px solid;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 10px 0 15px;
    cursor: pointer;
}
.dashboard-sort-by .ant-dropdown-trigger{
    color: #000;
    width: 100%;
}

.admin-top {
    width: 100%;
    height: 345px;
    display: flex;
}

.admin-top-cards{
    width: 55%;
    height: 350px;
}

.admin-top-income {
    width: 45%;
    height: 345px;
    padding: 0 10px 15px 30px;
    padding-right: 10px;
}

.admin-dashboard-layout .upgrade-packages{
    padding: 10px 40px;
    margin: 0 10px;
    height: 275px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.admin-dashboard-layout .upgrade-package-free {
    background-color: #fff;
    width: 265px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.upgrade-package-free .upgrade-package-header {
    background-color: #2b4c70;
    color: aliceblue;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.upgrade-package-free .upgrade-package-footer {
    background-color: #2b4c70;
    color: aliceblue;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.upgrade-package-body {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 10px;
}

.upgrade-package-body-line {
    display: flex;
}

.admin-dashboard-layout .upgrade-package-starter {
    background-color: #fff;
    width: 265px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.upgrade-package-starter .upgrade-package-header {
    background-color: #2b6e35;
    color: aliceblue;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.upgrade-package-starter .upgrade-package-footer {
    background-color: #2b6e35;
    color: aliceblue;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.admin-dashboard-layout .upgrade-package-business {
    background-color: #fff;
    width: 265px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.upgrade-package-business .upgrade-package-header {
    background-color: #7d354d;
    color: aliceblue;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.upgrade-package-business .upgrade-package-footer {
    background-color: #7d354d;
    color: aliceblue;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.admin-dashboard-layout .upgrade-package-gold {
    background-color: #fff;
    width: 265px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.upgrade-package-gold .upgrade-package-header {
    background-color: #6b2b69;
    color: aliceblue;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.upgrade-package-gold .upgrade-package-footer {
    background-color: #6b2b69;
    color: aliceblue;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}