.homePageTextTitle{
    font-size: 50px;
    font-family: 'Volkhov', serif;
    background: #222222;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    display: inline;
}

.homePageTextTitleHighlight{
    font-size: 50px;
    font-family: 'Volkhov', serif;
    background: #CD41B5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.contentSubTitle{
    color: white;
}

.imageSVG svg{
    position: absolute;
}

.imageIconApplication svg{
    z-index: 999;
}

.row{
    margin: 0px !important;
}

.bntDiscover{
    height: 50px;
    margin-left: 120px;
    color: #CD41B5;
    padding: 14px;
    display: flex;
    width: fit-content;
    flex-direction: row-reverse;
}

.cardInfo{
    height: 200px;
    background-color: white;
    border-radius: 30px;
}

.subTitle{
    font-size: 40px;
    background: -webkit-linear-gradient(33deg, #091E3A, #2F80ED, #2D9EE0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
