.contentHomePage{
	padding: 0;
}

.contentHomePage .coverMain {
	overflow: hidden;
}
.contentHomePage .homePageTextTitle {
	font-size: 50px;
	font-family: "Volkhov", serif;
	background: #222222;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
	display: inline;
}

.contentHomePage .homePageTextTitleHighlight {
	font-size: 50px;
	font-family: "Volkhov", serif;
	background: #cd41b5;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
}

.contentHomePage .contentSubTitle {
	color: black;
	line-height: 35px;
	font-size: 16px;
}

.contentHomePage .imageSVG svg {
	position: absolute;
}

.contentHomePage .imageIconApplication svg {
	z-index: 999;
}

.contentHomePage .row {
	margin: 0px !important;
}

.contentHomePage .searchBtns {
	display: flex;
}

.contentHomePage .searchCategoryBtn,
.contentHomePage .searchPlatformBtn {
	height: 65px;
	width: 375px;
	line-height: 10px;
	background-color: #eceff5;
	border-radius: 0;
}
.contentHomePage .searchCategoryBtn :hover{
	opacity: 100%;
	cursor: pointer;
}

.contentHomePage .leftButton {
	width: 43%;
	border-top-left-radius: 80px 80px;
	border-bottom-left-radius: 80px 80px;
}

.contentHomePage .rightButton {
	width: 43%;
	border-left: 1px solid black;
	border-top-right-radius: 80px 80px;
	border-bottom-right-radius: 80px 80px;
}

.contentHomePage .bntSreach{
	height: 65px;
	width: 10%;
	line-height: 10px;
	background-color: #eceff5;
	border-radius: 80px;
}

.contentHomePage .bntSreach span{
	font-weight: 700;
}

.contentHomePage .searchTitle {
	font-size: 16px;
	margin-left: 10px;
	margin-bottom: 16px !important;
}

.contentHomePage .searchDescription {
	text-align: initial;
	font-size: 12px;
	margin-left: 10px;
}

.contentHomePage .iconSearchBtn {
	background-color: white;
	align-items: center;
	width: 65px;
	border-top-right-radius: 80px 80px;
	border-bottom-right-radius: 80px 80px;
}

.contentHomePage .iconSearch {
	margin-top: 16px;
	margin-left: 12px;
}

.contentHomePage .bntDiscover {
	height: 50px;
	margin-left: 120px;
	color: #cd41b5;
	padding: 14px;
	display: flex;
	width: fit-content;
	flex-direction: row-reverse;
}

.contentHomePage .cardInfo {
	height: 200px;
	background-color: white;
	border-radius: 30px;
}

.contentHomePage .subTitle {
	font-size: 40px;
	background: -webkit-linear-gradient(33deg, #091e3a, #2f80ed, #2d9ee0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.contentHomePage .searching svg {
	display: none;
}

.contentHomePage .imageSVG {
	width: 20%;
}
.contentHomePage .recommendCard {
	position: absolute;
	top: 59%;
	left: 20px;
}

.contentHomePage .ant-dropdown-menu-title-content a {
	text-decoration: none;
}

.contentHomePage .leftButton .ant-select-selector{
	height: 100%;
	border-top-left-radius: 80px 80px !important;
	border-bottom-left-radius: 80px 80px !important;
}
.contentHomePage .rightButton .ant-select-selector{
	height: 100%;
	border-top-right-radius: 80px 80px !important;
	border-bottom-right-radius: 80px 80px !important;
}
.contentHomePage .ant-select-selection-placeholder{
	padding-left: 6% !important;
}

.contentHomePage .ant-select-selection-overflow{
	padding-left: 6% !important;
	max-height: 92%;
	max-width: 96% !important;
    overflow: auto;
}
.contentHomePage .ant-select:hover{
	opacity: 100% !important;
	background: white;
	cursor: pointer;
}

.contentHomePage .ant-select-selection-overflow::-webkit-scrollbar {
	z-index: 999;
	border-radius: 100px;
    width: 8px;
    background-color: #F5F5F5;
} 
.contentHomePage .ant-select-selection-overflow::-webkit-scrollbar-thumb {
	z-index: 999;
	border-radius: 100px;
    background-color: gray;
}
.contentHomePage .ant-select-selection-overflow::-webkit-scrollbar-thumb:hover {
	cursor: pointer !important;
}
.contentHomePage .placeholder1{
	position: relative;
	top: 0;
}
.contentHomePage .popupFilter{
	max-height: 92%;
	overflow: auto;
}
.contentHomePage .popupFilter::-webkit-scrollbar {
	z-index: 999;
	border-radius: 100px;
    width: 8px;
    background-color: #F5F5F5;
} 
.contentHomePage .popupFilter::-webkit-scrollbar-thumb {
	z-index: 999;
	border-radius: 100px;
    background-color: gray;
}
.contentHomePage .Upgrade{
	width: 100%;
	height: 45px;
	background: linear-gradient(
		0.25turn,
		rgba(151, 150, 240, 0.5),
		rgba(251, 199, 212, 0.5)
	);	
}
.contentHomePage .btnUpgrade{
	color: #fff;
	padding: 2px;
	border-radius: 80px;
	font-size: 14px;
	border: 1px solid #000;
	padding-left: 10px;
	padding-right: 10px;
}
.contentHomePage .btnAdd{
	background-color: transparent;
	border: 0px;
	color: blue;
}
.contentHomePage .btnAdd:hover{
 	opacity: 50%;
}
.contentHomePage .countTime{
	background-color: #fff;
	height: 40px;
	border-radius: 10px;
}
.contentHomePage .numberCount{
	color: #000;
	font-weight: bold;
}

.contentHomePage .popupFilter{
	height: 250px;
	width: 50%;
	background-color: white;
	border-radius: 10px;
}

.contentHomePage .dropdownSlider{
	height: 40px;
	width: auto !important;
	line-height: 10px;
	background-color: #eceff5;
	border-radius: 80px;
}
.result-content{
	background-color: #ececec;
}
.overflow-hidden{
	overflow: hidden !important;
}
.contentHomePage .badge-block {
	height: fit-content;
	width: auto;
	display: flex;
	justify-content: center;
}
.contentHomePage .badge-text {
	cursor: pointer;
	font-size: 14px;
	width: fit-content;
	padding: 2px 8px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	margin-left: 10px;
}
.contentHomePage .title-fit-content {
	height: fit-content;
	margin: auto 0;
}