.coverMain {
	overflow: hidden;
}
.homePageTextTitle {
	font-size: 50px;
	font-family: "Volkhov", serif;
	background: #222222;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
	display: inline;
}

.homePageTextTitleHighlight {
	font-size: 50px;
	font-family: "Volkhov", serif;
	background: #cd41b5;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
}

.contentSubTitle {
	color: white;
	line-height: 35px;
	font-size: 20px;
}
.card-bg {
	height: 80vh;
	background: transparent;
	position: relative;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
	overflow: hidden;
	border-radius: 50px;
}
.card-custom {
	cursor: default;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #212121;
	background-color: rgba(255, 255, 255, 0.074);
	border: 1px solid rgba(255, 255, 255, 0.222);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	border-radius: 50px;
	transition: all ease 0.3s;
}
.card-bg::after,
.card-bg::before {
	width: 20%;
	padding-top: 20%;
	content: "";
	position: absolute;
	border-radius: 100%;
	transition: 0.8s linear;
}

.card-bg::after {
	top: -10%;
	left: -5%;
	background: rgb(255, 255, 255,0.3);
	filter: blur(34.5px);
	animation: animFirst 5s linear infinite;
	z-index: 2;
}

.card-bg::before {
	background-color: rgb(255, 255, 255,0.3);
	filter: blur(34.5px);
	bottom: -10%;
	right: -5%;
	animation: animSecond 5s linear infinite;
	animation-delay: 3s;
}

.card-bg:hover {
	box-shadow: 0px 0px 10px rgba(0, 77, 32, 0.432);
}

.card-bg:hover::after {
	left: 52%;
	transform: scale(1.5);
}

.card-bg:hover::before {
	right: 80%;
	transform: scale(1.5);
}
.imageSVG svg {
	position: absolute;
}

.imageIconApplication svg {
	z-index: 999;
	animation: rot 2s infinite ease;
}
@keyframes rot {
	0% {
		transform: rotateX(-15deg) translateY(0px);
	}

	50% {
		transform: rotateX(-15deg) translateY(-10px);
	}

	100% {
		transform: rotateX(-15deg) translateY(0px);
	}
}
.button-block {
	position: relative;
}
.row {
	margin: 0px !important;
}

.searchBtns {
	display: flex;
}

.contentIntroducePage .searchCategoryBtn,
.contentIntroducePage .searchPlatformBtn {
	height: 65px;
	--width: 375px;
	line-height: 10px;
	background-color: #fff;
	border-radius: 0;
	min-width: 380px;

}

.searchPlatformBtn:first-child {
	border-top-left-radius: 80px 80px;
	border-bottom-left-radius: 80px 80px;
}

.searchTitle {
	text-align: initial;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 10px;
}

.searchDescription {
	text-align: initial;
	font-size: 12px;
	margin-left: 10px;
}

.iconSearchBtn {
	background-color: white;
	align-items: center;
	--width: 65px;
	min-width: 65px;
	border-top-right-radius: 80px 80px;
	border-bottom-right-radius: 80px 80px;
}

.iconSearch {
	margin-top: 16px;
	margin-left: 12px;
}

.discoverBtn {
	height: 50px;
	color: #cd41b5;
	padding: 14px;
	display: flex;
	width: fit-content;
	flex-direction: row-reverse;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.discoverBtn svg {
	margin-top: 2px;
}
.discoverBtn:hover {
	color: #cd41b5 !important;
	border-color: #cd41b5 !important;
}
.discoverBtn:hover svg {
	animation: rot-svg 2s infinite;
}
@keyframes rot-svg {
	0% {
		transform: translateX(0px);
	}

	50% {
		transform: translateX(10px);
	}

	100% {
		transform: translateX(0px);
	}
}


.cardInfo {
	height: 200px;
	background-color: white;
	border-radius: 30px;
}

.subTitle {
	font-size: 40px;
	background: -webkit-linear-gradient(33deg, #091e3a, #2f80ed, #2d9ee0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.searching svg {
	display: none;
}

.imageSVG {
	width: 20%;
}
.recommendCard {
	position: absolute;
	top: 59%;
	left: 20px;
	width: 100%;
}

.ant-dropdown-menu-title-content a {
	text-decoration: none;
}

