.admin-influencer-page-bg {
    width: 100%;
	font-size: 24px;
	font-weight: bold;
	background-color: #F8F9FF;
	display: flex;
}

.admin-influencer-page-bg .admin-influencer-page-sidebar {
    width: 13%;
    height: 100vh;
}


.admin-influencer-page-bg .admin-influencer-page-content {
    width: 87%;
    height: 100vh;
    padding-top: 60px ;
    overflow: hidden;
}