/* .taskbar-bg {
    width: 100%;
    height: 100%;
    padding: 30px 10px 20px;
    background-color: #FF5986;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.taskbar-content-item {
    padding: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.taskbar-content-item p {
    color: #fff;
    padding-left: 9px;
}

.taskbar-content-icon {
    width: 24px;
    height: 24px;
}

.taskbar-footer {
    display: flex;
    justify-content: center;
    color: #fff;
} */

.admin-sidebar-bg {
    width: 250px;
    height: 100vh;
    padding: 20px 10px ;
    background-color: #FF5986;
}

.ant-menu-light .ant-menu-item-selected,.ant-menu-light>.ant-menu .ant-menu-item-selected{
    background-color: #d9d9d92b;
}