@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Volkhov:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
}
.margin-left-110 {
	margin-left: 110px;
}

.font-size-10 {
	font-size: 10px !important;
}

.font-size-12 {
	font-size: 12px !important;
}

.font-size-15 {
	font-size: 15px !important;
}

.font-size-16 {
	font-size: 16px !important;
}

.font-Poppins {
	font-family: "Poppins", sans-serif;
}

.font-Volkhov {
	font-family: "Volkhov", serif;
}

.backgroundPage {
	background: linear-gradient(
		0.25turn,
		rgba(151, 150, 240, 0.5),
		rgba(251, 199, 212, 0.5)
	);
}

.text-lineHeight-30 {
	line-height: 30px;
}

.contentIntroducePage {
	height: 275vh;
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	margin-top: 60px;
	padding: 65px 50px;
}

.contentHomePage {
	--height: 275vh;
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	margin-top: 60px;
	padding: 100px 50px;
}

.container {
	padding-top: 2vh;
	/* background-color: white; */
	height: 52vh;
	width: 100%;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 300px;
	border: none;
}
select:focus {
	outline: none;
}

select::-ms-expand {
	display: none;
}

.input-left {
	height: 48px;
	background-color: white;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.input-right {
	height: 48px;
	background-color: white;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-left: 1px solid black;
}

.backgroundDark {
	background-color: black;
}

p {
	margin-bottom: 0 !important;
}

.ant-modal-confirm-content{
	font-size: 22px !important;
}
.ant-modal-confirm-title{
	font-size: 22px !important;
}

.blur-data-to-payment{
	filter: blur(8px);
  -webkit-filter: blur(8px);
}