.admin-influencer-layout {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
}

.admin-influencer-layout a{
    text-decoration: none;
}

.admin-influencer-layout a:not([href]):not([class]):hover {
    text-decoration: none;
    color: #69b1ff;
}

/* .admin-user-title {
    padding: 0 20px;
    width: 100%;
    height: 40px;   
    display: flex;
    justify-content: space-between;
}

.admin-user-title p {
    font-size: 20px;
    font-weight: 600;
} */

.admin-influencer-list-layout {
    width: 100%;
    height: 100%;
}

.admin-influencer-table{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 5px 10px;
}

.admin-influencer-layout .ant-spin-nested-loading {
    position: unset;
}

.admin-influencer-layout .ant-spin-container {
    position: unset;
}

.admin-influencer-layout .ant-table-wrapper .ant-table-pagination.ant-pagination {
    position: absolute;
    right: 750px;
    bottom: 0;
}

.ant-typography {
    font-size: 19px;
    font-weight: initial;
    color: black;
}

.admin-influencer-layout input[type=number]::-webkit-inner-spin-button, 
.admin-influencer-layout input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.admin-influencer-layout .ant-table-wrapper .ant-table-thead>tr>th,.admin-influencer-layout .ant-table-wrapper .ant-table-tbody>tr>th,.admin-influencer-layout .ant-table-wrapper .ant-table-tbody>tr>td,.admin-influencer-layout .ant-table-wrapper tfoot>tr>th,.admin-influencer-layout .ant-table-wrapper tfoot>tr>td {
    padding: 11.5px;
}