.pwd-background .form-title {
    font-size: 250%;
    margin: 0 auto 7% auto;
    font-weight: 600;
    text-align: center;
}
.pwd-background .form-holder {
    margin: 10% auto;
    width: 30%;
    min-width: 380px;
}
.pwd-background .form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.pwd-background .input {
    min-height: 55px;
    padding: 0 4px;
    margin-bottom: 4%;
}
.pwd-background .btn {
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: 600;
    font-size: 95%;
}
.pwd-background .submit  {
    background: black;
    color: white;
    width: 100%;
    padding: 28px;
    margin: 0 auto 4% auto;

}
.pwd-background .login-forgot {
    margin-top: 15px;
    color: var(--lightGray);
    font-size: 85%;
    cursor: pointer;
}
.pwd-background .pwd-background{
    padding: 60px;
    height: 100vh;
    background: linear-gradient(45deg, #96cbf0, #fbc7d4);
    position: relative;
}
.pwd-background .form-custom-bg{
    background-color: #fff;
    width: 40vw;
    height: 65vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;

}
.index-1000{
    z-index: 1000;
}
.index-100{
    z-index: 100;
}
