.upgrade-bg {
    width: 100%;
	font-size: 24px;
	font-weight: bold;
	margin-top: 60px;
	background-color: #ececec;
}

.upgrade-header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.countTime-bg {
    background-color: #fff;
    padding: 10px 20px;
}

.upgrade-header-title {
    font-size: 24px;
    font-weight: 600;
}

.upgrade-header-sub-title {
    font-size: 16px;
    font-weight: 600;
}

.upgrade-body {
    width: 100%;
    height: 1050px;
    padding: 75px 130px;
}

.upgrade-footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrade-footer-note {
    font-size: 12px;
}

.upgrade-footer-FAQ {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.upgrade-footer-FAQ p {
    font-size: 22px;
    font-weight: 600;
}

.upgrade-footer-FAQ-content {
    display: flex;
    width: 1700px;
    justify-content: space-between;
    padding-top: 10px;
}

.upgrade-footer-FAQ-sub-content {
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upgrade-footer-FAQ-title {
    font-weight: 600;
    font-size: 16px;
}

.upgrade-footer-FAQ-sub-title {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}


