.profile-layout {
	width: 423px;;
	height: 270px;
	background-color: #fff;
	border-radius: 15px;
	padding: 15px 0;
	cursor: pointer;
}

.new-background{
	width: 423px;;
	height: 270px;
	background-color: #e2e2e2;
	border-radius: 15px;
	padding: 15px 0;
	cursor: pointer;
}

.profile-layout .new-background {
	background-color: rgba(226, 226, 226, 0.5);
	border: #000 1px solid;
  }

.profile-layout .profile-content-layout {
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.profile-layout .profile-avatar-content {
	height: 80px;
	display: flex;
	align-items: flex-start;
}

.profile-layout .profile-avatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 10px;
}

.profile-layout .profile-content {
	width: fit-content;
	height: 80px;
	display: flex;
	justify-items: start;
	flex-direction: column;
	justify-content: space-between;
}

.profile-layout .profile-name {
	font-weight: 600;
}

.profile-layout .profile-location {
	display: flex;
	align-items: center;
}

.profile-layout .profile-topics {
	display: flex;
}

.profile-layout .profile-topic {
	margin-right: 5px;
	padding: 2px 10px;
	width: fit-content;
	font-size: 14px;
	background-color: #ccc;
	border-radius: 20px;
}

.profile-date-view {
    display: flex;
    width: 95px;
    justify-content: space-between;
}

.profile-view {
    margin-top: -3px;
}

.profile-layout .profile-socials {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: #ccc 1px solid;
	border-top: #ccc 1px solid;
}

.profile-layout .profile-social {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 20%;
	height: 25px;
}

.profile-layout .profile-images {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding: 10px 15px 0;
}

.profile-layout .profile-image {
	width: 27%;
	height: 100px;
	border-radius: 20px;
}
