.influ-side-bar-container {
	width: 100%;
	height: 100%;
	display: grid;
	align-content: space-between;
}

.influ-side-bar-container p {
	margin-bottom: 0 !important;
}

.influ-side-bar-container .influ-side-bar-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 300px;
	flex-direction: column;
	border-bottom: #ccc 1px solid;
	padding: 10px;
}
.influ-side-bar-container .profile-avatar {
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

.influ-side-bar-container .profile-name {
	font-weight: 600;
}

.influ-side-bar-container .badge-block {
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: center;
}

.influ-side-bar-container .badge-text {
	cursor: pointer;
	font-size: 14px;
	width: fit-content;
	padding: 2px 8px;
	border-radius: 20px;
	display: flex;
	align-items: center;
}

.influ-side-bar-container .profile-btn {
	background-color: #2195f382;
	margin-bottom: 5px;
}

.influ-side-bar-container .profile-socials {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.influ-side-bar-container .profile-social {
	display: flex;
	justify-content: space-evenly;
	width: 20%;
}

.influ-side-bar-container .influ-side-bar-body {
	width: 100%;
	height: fit-content;
	padding: 20px;
}

.influ-side-bar-container .profile-description {
	font-weight: 600;
	font-size: 16px;
}

.influ-side-bar-container .profile-contents {
	width: 100%;
	height: fit-content;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.influ-side-bar-container .profile-contents p {
	font-size: 14px;
}

.influ-side-bar-container .profile-content {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.influ-side-bar-container .ant-btn.ant-btn-round.ant-btn-lg {
	margin-bottom: 0;
}

.influ-side-bar-container .profile-feedback {
	display: flex;
	flex-wrap: wrap;
	height: 25px;
	width: 100%;
	justify-content: center;
	align-items: flex-end;
}

.influ-side-bar-container .ant-rate {
	display: flex;
	margin-right: 2px;
}


.influ-side-bar-container .profile-location {
	display: flex;
	align-items: center;
}

.influ-side-bar-container .profile-gender {
	display: flex;
}

.influ-side-bar-container .profile-age {
	display: flex;
}

.influ-side-bar-container .profile-marriage-status {
	display: flex;
	align-items: center;
}

.influ-side-bar-container .profile-biography {
	margin-top: 10px;
}

.influ-side-bar-container .profile-biography-title {
	font-weight: 600;
}

.influ-side-bar-container .influ-side-bar-footer {
	height: fit-content;
	padding-bottom: 10px;
}

.influ-side-bar-container .footer-content {
	padding: 15px 30px 15px 30px;
}

.influ-side-bar-container .profile-contact {
	font-weight: 600;
	font-size: 14px;
}

.influ-side-bar-container .contact-info {
	padding: 15px 25px;
	width: fit-content;
	min-width: 250px;
	position: relative;
}

.influ-side-bar-container .contact-email,
.contact-phone {
	display: flex;
	align-items: center;
}

.influ-side-bar-container .upgrade-btn {
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.influ-side-bar-container .lock-info {
	opacity: 0.2;
}

.influ-side-bar-container .feedback-btn {
	width: 100%;
	text-align: center;
}

.influ-side-bar-container .popupFilter{
	height: auto;
	width: 50%;
	background-color: white;
	border-radius: 10px;
    padding: 28px;
}
.titleAddToList{
	font-size: 19px;
	margin-bottom: 10px;
}

.influ-side-bar-container .profile-topic {
    margin-right: 5px;
    padding: 2px 10px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 14px;
    background-color: #ccc;
    border-radius: 20px;
}