.cards {
	display: flex;
	position: relative;
	width: 100%;
}
.card1 {
	width: 32%;
	height: 300px;
	position: absolute;
	background: #ffffff;
	border: 2px solid rgba(102, 102, 102, 0.08);
	box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	padding: 1rem 1rem;
	transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.card1-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s ease, opacity 0.2s ease;
}

/*Image*/
.card1-avatar {
	width: 100%;
	height: 200px;
	background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
	
	border-radius: 16px;
	transition: transform 0.2s ease;
	margin-bottom: 1rem;
}

/*Card1 footer*/
.card1-social {
	padding: 0 !important;
	transform: translateY(100%);
	display: flex;
	justify-content: space-around;
	width: 100%;
	opacity: 0;
	transition: transform 0.2s ease, opacity 0.2s ease;
}

.card1-social__item {
	list-style: none;
}

.card1-social__item svg {
	display: block;
	height: 18px;
	width: 18px;
	fill: #515f65;
	cursor: pointer;
	transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.card1-title {
	color: #333;
	font-size: 1.5em;
	font-weight: 600;
	line-height: 2rem;
}

/*Hover*/
.card1:hover {
	box-shadow: 0 8px 50px #23232333;
	z-index: 9999;
}

.card1:hover .card1-info {
	transform: translateY(-5%);
}

.card1:hover .card1-social {
	transform: translateY(-20%);

	opacity: 1;
}

.card1-social__item svg:hover {
	fill: #232323;
	transform: scale(1.1);
}

.card1-avatar:hover {
	transform: scale(1.2);
}

.card2 {
	width: 27%;
	height: 200.76px;
	position: absolute;
	left: 31%;
	top: -40px;
	background: #ffffff;
	border: 2px solid rgba(102, 102, 102, 0.08);
	box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	padding: 1rem 1rem;
	transition: box-shadow 0.3s ease, transform 0.2s ease;
	z-index: 1;
}

.card2-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s ease, opacity 0.2s ease;
}

/*Image*/
.card2-avatar {
	background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
	width: 165px;
	height: 120px;
	border-radius: 16px;
	transition: transform 0.2s ease;
	margin-bottom: 0.5rem;
}

/*Card1 footer*/
.card2-social {
	padding: 0 !important;
	transform: translateY(100%);
	display: flex;
	justify-content: space-around;
	width: 100%;
	opacity: 0;
	transition: transform 0.2s ease, opacity 0.2s ease;
}

.card2-social__item {
	list-style: none;
}

.card2-social__item svg {
	display: block;
	height: 18px;
	width: 18px;
	fill: #515f65;
	cursor: pointer;
	transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.card2-title {
	color: #333;
	font-size: 1.5em;
	font-weight: 600;
	line-height: 2rem;
}

/*Hover*/
.card2:hover {
	box-shadow: 0 8px 50px #23232333;
	z-index: 9999;
}

.card2:hover .card2-info {
	transform: translateY(-5%);
}

.card2:hover .card2-social {
	transform: translateY(-20%);
	opacity: 1;
}

.card2-social__item svg:hover {
	fill: #232323;
	transform: scale(1.1);
}

.card2-avatar:hover {
	transform: scale(1.2);
}

.card3 {
	width: 37%;
	height: 285.26px;
	position: absolute;
	left: 57%;
	top: -20px;
	background: #ffffff;
	border: 2px solid rgba(102, 102, 102, 0.08);
	box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	padding: 1rem 1rem;
	transition: box-shadow 0.3s ease, transform 0.2s ease;
	z-index: 1;
}

.card3-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s ease, opacity 0.2s ease;
}

/*Image*/
.card3-avatar {
	background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
	width: 100%;
	height: 160px;
	border-radius: 16px;
	transition: transform 0.2s ease;
	margin-bottom: 1rem;
}

/*Card1 footer*/
.card3-social {
	padding: 0 !important;
	transform: translateY(100%);
	display: flex;
	justify-content: space-around;
	width: 100%;
	opacity: 0;
	transition: transform 0.2s ease, opacity 0.2s ease;
}

.card3-social__item {
	list-style: none;
}

.card3-social__item svg {
	display: block;
	height: 18px;
	width: 18px;
	fill: #515f65;
	cursor: pointer;
	transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.card3-title {
	color: #333;
	font-size: 1.5em;
	font-weight: 600;
	line-height: 2rem;
}

/*Hover*/
.card3:hover {
	box-shadow: 0 8px 50px #23232333;
	z-index: 9999;
}

.card3:hover .card3-info {
	transform: translateY(-5%);
}

.card3:hover .card3-social {
	transform: translateY(20%);
	opacity: 1;
}

.card3-social__item svg:hover {
	fill: #232323;
	transform: scale(1.1);
}

.card3-avatar:hover {
	transform: scale(1.2);
}
