.FooterHomePage {
    background-color: black;
    height: 300px;
    padding-left: 50px;
    padding-right: 50px;
}

.textDescriptionFooter{
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.textTitleFooter{
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    margin-top: 15px;
}

.text-white-size-12{
    color: white;
    font-size: 12px;
}

.border-top-white{
    border-top: 1px solid white;
    height: 1px;
    width: 100%;
}

.bg-black{
    background-color: black;
}