.create-page .title-create-page{
    justify-content: center;
    text-align: center;
}
.create-page .title-page h1{
    font-size: 40px;
    font-weight: 500px;
    display: inline;
}
.create-page #content{
    width: 100%;
    max-width: 1600px;
    margin: 0;
}
.create-page .step-creat-page{
    width: 60%;
    margin: auto auto;
    margin-top: 4%;
}
.create-page .form-information{
    margin: 0 auto;
    width: 50%;
    display: block;
    margin-top: 5%;
    }
.create-page .ant-input {
        padding: 10px;
    }

.create-page .title-information-form{
    font-size: 26px;
    text-align: center;
    justify-content: center;
    margin-bottom: 8%;
    background: #cd41b5;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.create-page .submit-information-btn {
    background: black;
    color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: 600;
    font-size: 95%;
    
}
/* Overview form css */
.create-page .cost-select-form{
    display: flex;
}
/* Content form css */
.create-page .ant-tag-checkable{
    font-size: larger;
    width: 210px;
    min-width: 100%;
    height: 60px;
    padding: 14px 5px;
    margin: 8px auto;
    border-radius: 8px;
    font-weight: 500;
    text-align: center;
    border: 1px solid rgba(191,203,218,.6);
}
.create-page .ant-tag-checkable-checked {
    background-color: black !important;
    color: white !important;
}
.create-page .ant-space{
    margin-bottom: 6%;
}
.create-page .scroll-holder{
    width: 100%;
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.create-page .scroll-holder::-webkit-scrollbar {
    
	z-index: 999;
	border-radius: 100px;
    width: 8px;
    background-color: #F5F5F5;
} 
.create-page .scroll-holder::-webkit-scrollbar-thumb {
    margin-left: 2px;
	z-index: 999;
	border-radius: 100px;
    background-color: gray;
}

.create-page .social-input-form{
    display: flex;
    margin-bottom: 5%;
}

.create-page .form-information-form h5{
    text-align: center
    ;
}
.create-page .title-finish-information{
    font-size: 26px;
    text-align: center;
    justify-content: center;
    margin-bottom: 8%;
   color: green;
}
