.report-management-page-bg {
    width: 100%;
	font-size: 24px;
	font-weight: bold;
	background-color: #F8F9FF;
	display: flex;
}

.report-management-page-bg .report-management-page-sidebar {
    width: 13%;
    height: 100vh;
}


.report-management-page-bg .report-management-page-content {
    width: 87%;
    height: 100vh;
    padding-top: 60px ;
    overflow: hidden;
}