.approve-profile-layout {
	width: 395px;
	height: 270px;
	background-color: #fff;
	border-radius: 15px;
	padding: 15px 0;
	cursor: pointer;
}

.approve-profile-layout p {
	margin-bottom: 0 !important;
}

.approve-profile-layout .profile-content-layout {
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.approve-profile-layout .approve-profile-avatar-content {
	height: 80px;
	display: flex;
	align-items: flex-start;
}

.approve-profile-layout .profile-avatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 10px;
}

.approve-profile-layout .approve-profile-avatar-content .profile-content {
	width: fit-content;
	height: 80px;
	display: flex;
	justify-items: start;
	flex-direction: column;
	justify-content: space-evenly;
}

.approve-profile-layout .profile-name {
	font-weight: 600;
}

.approve-profile-layout .profile-location {
	display: flex;
	align-items: center;
}

.approve-profile-layout .profile-topics {
	display: flex;
}

.approve-profile-layout .profile-topic {
	margin-right: 5px;
	padding: 2px 10px;
	width: fit-content;
	font-size: 14px;
	background-color: #ccc;
	border-radius: 20px;
}

.approve-profile-layout .profile-socials {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: #ccc 1px solid;
	border-top: #ccc 1px solid;
}

.approve-profile-layout .profile-social {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 80px;
	height: 25px;
}

.approve-profile-layout .profile-images {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding: 10px 15px 0;
}

.approve-profile-layout .profile-image {
	width: 27%;
	height: 100px;
	border-radius: 20px;
}
