.admin-page-bg {
    width: 100%;
	font-size: 24px;
	font-weight: bold;
	margin-top: 60px;
	background-color: #F8F9FF;
	display: flex;
}

.admin-page-bg .admin-page-taskbar {
    width: 13%;
    height: 900px;
}


.admin-dashboard-content {
    width: 87%;
    height: 900px;
}