.report-management-layout {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    position: relative;
    overflow-x: hidden;
	overflow-y: scroll;
}

.report-management-layout .report-management-layout-items:hover::-webkit-scrollbar-thumb {
	z-index: 2;
	visibility: visible;
}

.report-management-layout .report-management-layout-items::-webkit-scrollbar {
    height: 10px;
}

.report-management-layout .report-management-layout-items::-webkit-scrollbar-track {
	background: transparent;
	margin: 5px;
}

.report-management-layout .report-management-layout-items::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background: #bdbdbd;
	z-index: 1;
	visibility: hidden;
}

.report-management-layout .report-management-layout-items::-webkit-scrollbar-thumb:hover {
	background: #858585;
    width: 2px;
}

.report-management-wait {
    width: 100%;
    height: 340px;
    background-color: #f1f4f5;
    border-radius: 10px;
    font-size: 19px;
    padding: 10px 20px;
    font-weight: 600;
}


.report-management-wait .report-management-wait-items {
    padding-top: 5px;
    width: fit-content;
    height: 300px;
    border-radius: 10px;
    overflow-x: scroll;
	overflow-y: hidden;
    display: flex; 
    flex-wrap: nowrap; 
    
}

.report-management-wait .report-management-wait-items:hover::-webkit-scrollbar-thumb {
	z-index: 2;
	visibility: visible;
}

.report-management-wait .report-management-wait-items::-webkit-scrollbar {
    height: 10px;
}

.report-management-wait .report-management-wait-items::-webkit-scrollbar-track {
	background: transparent;
	margin: 5px;
}

.report-management-wait .report-management-wait-items::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background: #bdbdbd;
	z-index: 1;
	visibility: hidden;
}

.report-management-wait .report-management-wait-items::-webkit-scrollbar-thumb:hover {
	background: #858585;
    width: 2px;
}

.report-management-wait .report-management-wait-item{
    width: 100%;
    height: 270px;
    padding: 0 15px;
}

.report-management-layout .report-management-admin-view{
    padding: 30px  20px;
}

.report-management-admin-view .admin-view-title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}
