.cardFilter {
	background: #ffffff;
	border: 2px solid rgba(102, 102, 102, 0.08);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	height: 600px;
	width: 100%;
	padding: 30px;
}
.filterTitle {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
.filterOptions {
	height: fit-content;
	gap: 12px;
	margin-top: 10px;
	display: grid;
	padding: 25px;
	padding-bottom: 0;
}
.filterOption {
	font-size: 12px;
}
.ant-checkbox-group {
	display: grid !important;
	justify-items: start !important;
	justify-content: start !important;
}
.ant-checkbox-wrapper {
	margin-bottom: 10px;
	margin-inline-start: 0 !important;
}
.filterOptions span {
	font-size: 16px;
}
.ant-checkbox {
	margin-top: 3px;
}
.cardFilter svg {
	vertical-align: unset;
}

.cardFilter .filterBtn {
	width: 100%;
	text-align: center;
}
