.report-post-item {
	width: 100%;
	height: 105px;
	border: #ccc 1px solid;
	padding: 15px 25px;
	display: flex;
	justify-content: space-between;
}

.report-post-item .post-item-title {
	display: flex;
}

.report-post-item .post-item-title p {
	font-weight: 600;
}

.report-post-item .social-icon {
	width: 70px;
	height: 70px;
	margin-right: 10px;
}

.report-post-item .post-item-sub-title {
    height: 100%;
	width: 350px;
}

.report-post-item .cover-quantity-cost {
	height: 70px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.report-post-item .cover-quantity-cost p {
	color: #9b9a9a;
}

.post-item-btn {
	width: fit-content;
	height: 100%;
	display: flex;
	align-items: flex-end;
}