.HeaderHomepage {
    justify-content: space-between;
    display: flex;
    position: fixed;
    top: 0;
    padding: 0 60px 0 60px;
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.HeaderHomepage .headerContent {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
.logoText {
    font-family: 'Volkhov', serif;
    position: relative;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    background: linear-gradient(45deg, #2196F3, #F44336);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.HeaderHomepage .navBar {
    display: flex;
    gap: 40px;
}

.HeaderHomepage .navBar .nav {
    color: #222222;
    cursor: pointer;
}
.nav:hover{
    text-decoration: underline;
}

.HeaderHomepage .authBtn {
    display: flex;
    text-align: center;
    align-items: center;
    width:fit-content;
}