.HeaderHomepage {
    justify-content: space-between;
    display: flex;
    position: fixed;
    top: 0;
    padding: 0 60px 0 60px;
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
}
.HeaderHomepage .headerContent {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
.logoText {
    font-family: 'Volkhov', serif;
    position: relative;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    background: linear-gradient(45deg, #2196F3, #F44336);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.HeaderHomepage .navBar {
    display: flex;
    gap: 40px;
}

.HeaderHomepage .navBar .nav {
    color: #222222;
    cursor: pointer;
}
.nav:hover{
    text-decoration: underline;
}

.HeaderHomepage .authBtn {
    display: flex;
    text-align: center;
    align-items: center;
    width:fit-content;
}

.HeaderHomepage .influencer-btn {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #EEF0F1;
    padding: 0 4px;
    justify-content: space-between;
}

.HeaderHomepage .influencer-btn .influencer-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.HeaderHomepage .influencer-btn .influencer-dropdown-block {
    width: 190px;
    height: 100%;
    border-left: #ccc 1px solid;
    display: flex;
    align-items: center;
    padding: 0 8px;
    justify-content: space-between;
    cursor: pointer;
}

.HeaderHomepage .influencer-btn .influencer-dropdown-block p {
    display: flex;
    align-items: center;
    padding: 0 8px;
    justify-content: space-between;
    cursor: pointer;
}
.influencer-dropdown-block .ant-dropdown-trigger{
    color: #000;
    width: 100%;
}

.HeaderHomepage .influencer-btn .influencer-dropdown-block .ant-space-item {
    width: 120px;
    text-wrap: nowrap;
    text-align: start;
}

.HeaderHomepage .cover-client-login {
    width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderHomepage .landing-page-header {
    width: 1440px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.HeaderHomepage .cover-login-sign-up {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}


